PankiFoodProject/Web References/LoginServices/LoginServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VerificarCredencialesWebService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCredencialesWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarCredencialesWebServiceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarCredencialesWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarCredencialesWebService" />
  </wsdl:message>
  <wsdl:message name="VerificarCredencialesWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarCredencialesWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarCredencialesWebServiceHttpGetIn">
    <wsdl:part name="nombreUsuario" type="s:string" />
    <wsdl:part name="contraseña" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerificarCredencialesWebServiceHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerificarCredencialesWebServiceHttpPostIn">
    <wsdl:part name="nombreUsuario" type="s:string" />
    <wsdl:part name="contraseña" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerificarCredencialesWebServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="LoginServicesSoap">
    <wsdl:operation name="VerificarCredencialesWebService">
      <wsdl:input message="tns:VerificarCredencialesWebServiceSoapIn" />
      <wsdl:output message="tns:VerificarCredencialesWebServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginServicesHttpGet">
    <wsdl:operation name="VerificarCredencialesWebService">
      <wsdl:input message="tns:VerificarCredencialesWebServiceHttpGetIn" />
      <wsdl:output message="tns:VerificarCredencialesWebServiceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginServicesHttpPost">
    <wsdl:operation name="VerificarCredencialesWebService">
      <wsdl:input message="tns:VerificarCredencialesWebServiceHttpPostIn" />
      <wsdl:output message="tns:VerificarCredencialesWebServiceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServicesSoap" type="tns:LoginServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarCredencialesWebService">
      <soap:operation soapAction="http://tempuri.org/VerificarCredencialesWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServicesSoap12" type="tns:LoginServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarCredencialesWebService">
      <soap12:operation soapAction="http://tempuri.org/VerificarCredencialesWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServicesHttpGet" type="tns:LoginServicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="VerificarCredencialesWebService">
      <http:operation location="/VerificarCredencialesWebService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServicesHttpPost" type="tns:LoginServicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="VerificarCredencialesWebService">
      <http:operation location="/VerificarCredencialesWebService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginServices">
    <wsdl:port name="LoginServicesSoap" binding="tns:LoginServicesSoap">
      <soap:address location="http://localhost:8081/LoginServices.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServicesSoap12" binding="tns:LoginServicesSoap12">
      <soap12:address location="http://localhost:8081/LoginServices.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServicesHttpGet" binding="tns:LoginServicesHttpGet">
      <http:address location="http://localhost:8081/LoginServices.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServicesHttpPost" binding="tns:LoginServicesHttpPost">
      <http:address location="http://localhost:8081/LoginServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>